# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# env files (mas mantém os templates .env.example versionados)
.env*
!.env.example
!**/.env.example

# vercel
.vercel
